<!--<h1>Hello <%= current_user.name %></h1>-->
<script>
  $('[data-toggle=tab]').click(function(){
    if ($(this).parent().hasClass('active')){
      $($(this).attr("href")).toggleClass('active');
    }
  })
</script>

<div class="dashboard">
  <div class="container">
    <div class="dashboard-info">
      <div class="row">
        <div class="col-lg-push-4 col-lg-8 ">
          <div class="container-fluid">
            <div class="tabbable">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">My Sailings</a></li>
                <li><a href="#tab2" data-toggle="tab">My Events</a></li>
                <li><a href="#tab3" data-toggle="tab">Hosted Events</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tab1">

                  <!----------- TAB 1 SAILINGS ------------->
                  <table class="table">
                    <tr>
                      <td><img src="https://placeimg.com/100/100/tech" alt="..."><br></td>
                      <td class="sailing-info">
                        <a href="sailings/1"><span class="ship-name">Celebrity Infinity</span></a><br><br>
                        Sailing in 30 days! <br>
                        Lorem ipsum dolor sit amet, nec assum fierent disputando id, ut eos mutat mentitum scriptorem.
                        Et nec soleat feugiat vivendo, his ad accusam persecuti. Eos id reque vocent tibique.
                      </td>
                      <td>
                        <button type="button" class="btn btn-danger">Delete</button>
                      </td>
                    </tr>
                    <tr>
                      <td><img src="https://placeimg.com/100/100/tech" alt="..."><br></td>
                      <td class="sailing-info">
                        <a href="sailings/2"><span class="ship-name">Celebrity Solstice</span></a><br><br>
                        Sailing in 91 days!
                      </td>
                      <td>
                        <button type="button" class="btn btn-danger">Delete</button>
                      </td>
                    </tr>
                    <tr>
                      <td><img src="https://placeimg.com/100/100/tech" alt="..."><br></td>
                      <td class="sailing-info">
                        <a href="sailings/3"><span class="ship-name">Star Princess</span></a><br><br>
                        Sailing in 156 days!
                      </td>
                      <td>
                        <button type="button" class="btn btn-danger">Delete</button>
                      </td>
                    </tr>
                  </table>

                </div>
                <div class="tab-pane" id="tab2">
                  <table class="table">
                    <tr>
                      <td><img src="https://placeimg.com/100/100/tech" alt="..."><br></td>
                      <td class="sailing-info">
                        <span class="ship-name">Event 1</span><br><br>

                        <p>Lorem ipsum dolor sit amet, nec assum fierent disputando id, ut eos mutat mentitum scriptorem.
                        Et nec soleat feugiat vivendo,</p>
                        <br>
                        Age group: Age group <br>
                        Host: Name of Host <br>
                        Sailing: Name of Ship <br>

                      </td>
                      <td>
                        <button type="button" class="btn btn-danger">Leave</button>
                      </td>
                    </tr>
                    <tr>
                      <td><img src="https://placeimg.com/100/100/tech" alt="..."><br></td>
                      <td class="sailing-info">
                        <span class="ship-name">Event 2</span><br><br>

                        <p>Lorem ipsum dolor sit amet, nec assum fierent disputando id, ut eos mutat mentitum scriptorem.
                          Et nec soleat feugiat vivendo,</p>
                        <br>
                        Age group: Age group <br>
                        Host: Name of Host <br>
                        Sailing: Name of Ship <br>

                      </td>
                      <td>
                        <button type="button" class="btn btn-danger">Leave</button>
                      </td>
                    </tr>
                    <tr>
                      <td><img src="https://placeimg.com/100/100/tech" alt="..."><br></td>
                      <td class="sailing-info">
                        <span class="ship-name">Event 3</span><br><br>

                        <p>Lorem ipsum dolor sit amet, nec assum fierent disputando id, ut eos mutat mentitum scriptorem.
                          Et nec soleat feugiat vivendo,</p>
                        <br>
                        Age group: Age group <br>
                        Host: Name of Host <br>
                        Sailing: Name of Ship <br>

                      </td>
                      <td>
                        <button type="button" class="btn btn-danger">Leave</button>
                      </td>
                    </tr>
                  </table>
                </div>

                <div class="tab-pane" id="tab3">
                 <!-- HOSTED EVENTS -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-pull-8 col-lg-4  profile-info">
          <img class="avatar" src="https://placeimg.com/240/270/people" alt="..."><br>
          <hr>
          <a href="/profile/<%=@user.id%>"><h2><%= current_user.name %></h2></a>
          <a href="/mailbox/inbox" class="btn btn-primary">Messages <span class="badge">7</span></a>
        </div>
      </div>
    </div>
  </div>
</div>