<!-- <%= debug @user.name %> -->
<div class="dashboard">
  <div class="container">
    <div class="dashboard-info">
      <div class="row">
        <div class="col-lg-push-4 col-lg-8 ">
          <h2 id="name-h2"><%= current_user.name %></h2>
          <hr class="hr-line">
          Location: Vancouver, Canada
          <br><br>
          <h3>Introduction</h3>
          Lorem ipsum dolor sit amet, ullum veritus ea qui, quis voluptaria ad usu.
          Purto contentiones est an, nibh justo delenit sea id. Vide facilisi et sit.
          Usu no autem officiis, vel te qualisque accusamus, vim cu posse oblique legimus.
          Mel posse inani sententiae et. Vim delenit periculis id.
          <hr class="hr-line">
          <h3>Recent Sailings</h3>
          <table class="table profile-table">
            <tr>
              <td><img src="https://placeimg.com/100/100/tech" alt="..."><br></td>
              <td class="sailing-info">
                <a href="sailings/1"><span class="ship-name">Celebrity Infinity</span></a><br><br>
                Sailing in 30 days! <br>
                Lorem ipsum dolor sit amet, nec assum fierent disputando id, ut eos mutat mentitum scriptorem.
                Et nec soleat feugiat vivendo, his ad accusam persecuti. Eos id reque vocent tibique.
              </td>
            </tr>
            <tr>
              <td><img src="https://placeimg.com/100/100/tech" alt="..."><br></td>
              <td class="sailing-info">
                <a href="sailings/1"><span class="ship-name">Celebrity Infinity</span></a><br><br>
                Sailing in 30 days! <br>
                Lorem ipsum dolor sit amet, nec assum fierent disputando id, ut eos mutat mentitum scriptorem.
                Et nec soleat feugiat vivendo, his ad accusam persecuti. Eos id reque vocent tibique.
              </td>

            </tr>
          </table>
          <hr class="hr-line">
          <h3>Joined Events</h3>
          <table class="table profile-table">
            <tr>
              <td><img src="https://placeimg.com/100/100/tech" alt="..."><br></td>
              <td class="sailing-info">
                <span class="ship-name">Event 1</span><br><br>

                <p>Lorem ipsum dolor sit amet, nec assum fierent disputando id, ut eos mutat mentitum scriptorem.
                  Et nec soleat feugiat vivendo,</p>
                Age group: Age group <br>
                Host: Name of Host <br>
                Sailing: Name of Ship <br>

              </td>
            </tr>
            <tr>
              <td><img src="https://placeimg.com/100/100/tech" alt="..."><br></td>
              <td class="sailing-info">
                <span class="ship-name">Event 2</span><br><br>

                <p>Lorem ipsum dolor sit amet, nec assum fierent disputando id, ut eos mutat mentitum scriptorem.
                  Et nec soleat feugiat vivendo,</p>
                Age group: Age group <br>
                Host: Name of Host <br>
                Sailing: Name of Ship <br>

              </td>
            </tr>
            <tr>
              <td><img src="https://placeimg.com/100/100/tech" alt="..."><br></td>
              <td class="sailing-info">
                <span class="ship-name">Event 3</span><br><br>

                <p>Lorem ipsum dolor sit amet, nec assum fierent disputando id, ut eos mutat mentitum scriptorem.
                  Et nec soleat feugiat vivendo,</p>

                Age group: Age group <br>
                Host: Name of Host <br>
                Sailing: Name of Ship <br>

              </td>
            </tr>
          </table>
        </div>
          <div class="col-lg-pull-8 col-lg-4  profile-info">
          <img class="avatar" src="https://placeimg.com/240/270/people" alt="..."><br><br>
            <a href="/mailbox/inbox" class="btn btn-primary">Send A Message</a>
            <hr class="hr-line-2">
            <h3>Interests</h3>
            Scuba diving <br>
            River rafting <br>
            Bungee jumping <br>
        </div>
      </div>
    </div>
  </div>
</div>