<!-- <%= debug @user.name %> -->
<div class="dashboard">
  <div class="container">
    <div class="dashboard-info">
      <div class="row">
        <div class="col-lg-push-4 col-lg-8 ">
          <h2 id="name-h2"><%= current_user.name %></h2>
          <hr class="hr-line">
          Location: Vancouver, Canada
          <br><br>
          <h3>Introduction</h3>
          Greeting Cruisers! I love traveling and meeting new friends.
          <hr class="hr-line">
          <h3>Recent Sailings</h3>
          <table class="table profile-table">
            <tr>
              <td><img src="https://placeimg.com/100/100/tech" alt="..."><br></td>
              <td class="sailing-info">
                <a href="sailings/1"><span class="ship-name">Celebrity Infinity</span></a><br>
                Carnival Breeze <br>
                Departure: September 25, 2016 <br>
                Return: October 02, 2016
              </td>
            </tr>
            <tr>
              <td><img src="https://placeimg.com/100/100/tech" alt="..."><br></td>
              <td class="sailing-info">
                <a href="sailings/1"><span class="ship-name">Royal Carribean</span></a><br>
                Allure of the Seas <br>
                Departure: September 25, 2016 <br>
                Return: October 02, 2016
              </td>

            </tr>
          </table>
          <hr class="hr-line">
          <h3>Joined Events</h3>
          <table class="table profile-table">
            <tr>
              <td><img src="https://placeimg.com/100/100/tech" alt="..."><br></td>
              <td class="sailing-info">
                <span class="ship-name">Mexican Fiesta</span>
                <p>A authentic mexican party</p> <br>
                Age group: All age group <br>
                Host: Salvador Gonzalez <br>
                Sailing: Royal Carribean Cruises <br>

              </td>
            </tr>
            <tr>
              <td><img src="https://placeimg.com/100/100/tech" alt="..."><br></td>
              <td class="sailing-info">
                <span class="ship-name">Tennis At Atrium</span><br>

                <p>Tennis tornament for the youth</p>
                Age group: 18 -30<br>
                Host: Maggie Frank <br>
                Sailing: Nowegian Dawn <br>

              </td>
            </tr>
            <tr>
              <td><img src="https://placeimg.com/100/100/tech" alt="..."><br></td>
              <td class="sailing-info">
                <span class="ship-name">Skyride Escapade</span><br>

                <p>Pool party at carnival skyride</p>

                Age group: 18-30 <br>
                Host: Brandon Lee <br>
                Sailing: Carnival Cruises <br>

              </td>
            </tr>
          </table>
        </div>
          <div class="col-lg-pull-8 col-lg-4  profile-info">
          <img class="avatar" src="https://placeimg.com/240/270/people" alt="..."><br><br>
            <!--<a href="/conversations/new" class="btn btn-primary">Send A Message</a>-->
            <form method="get" action="<%= new_conversation_path %>" > 
              <input name="recipient[]" type="hidden" value="<%= @user.id %>"/> 
              <button class="btn btn-primary" type="submit">Send a Message</button>
               </form>
            <hr class="hr-line-2">
            <h3>Interests</h3>
            Scuba diving <br>
            River rafting <br>
            Bungee jumping <br>
        </div>
      </div>
    </div>
  </div>
</div>