<div class="dashboard" data-no-turbolink>
  <div class="container">
    <div class="dashboard-info">
      <h2 class="wow fadeInLeft animated" data-wow-delay="0.4s" style="text-align: center; padding-top: 1em; visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">New Event</h2>

      <%= render 'form' %>

<!-- <%= link_to 'Back', events_path %> -->
    </div>
  </div>
</div>