<div class="dashboard">
  <div class="container">
    <div class="dashboard-info div-form-user">
      <h1 class="wow fadeInLeft animated" data-wow-delay="0.4s" style="text-align: center; padding-top: 1em; visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">Edit User Profile</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>