.sailing {
    background-color: #f3f1f2;
    min-height: 100vh;
}

.sailing-one {
    margin-top: 3em;
    background-color: #ffffff;
    height: 100%;
    border:1px solid #7B3000;
}

.nav-tabs {
    padding-left: 15px;
    margin-bottom: 0;
    border: none;
}
.tab-content {
    border: 1px solid #E89007;
    border-radius: 4px;
    padding: 10px;
}

.ship {
    padding: 5px;
    margin-top: 3em;
    margin-right: 1em;
}

.tabbable li a{
    border-bottom-color: transparent;
    background-color: #ffc04d;
    border:1px solid #E89007;
}